" Author: Will Chao <nerdzzh@gmail.com>
" Filename: .ideavimrc
" Last Change: 03/08/2021 02:45:43 PM +0800
" Brief: My .vimrc file for IdeaVim

" Preamble -------------------------------------- {{{

"}}}

" Options --------------------------------------- {{{

set hlsearch
set incsearch
set ignorecase
set smartcase
set showmode
set showcmd
set scrolloff=3
set sidescroll=1
set sidescrolloff=10

"}}}

" Mappings -------------------------------------- {{{

" Normal mode -------------- {{{

let mapleader = ","

" Window mappings {{{

" Move between windows.
nnoremap <c-h> <c-w><c-h>
nnoremap <c-j> <c-w><c-j>
nnoremap <c-k> <c-w><c-k>
nnoremap <c-l> <c-w><c-l>

" Maximize [h]eight/[w]idth of current window.
" Make [a]ll windows equal height and width.
nnoremap <leader>mh <c-w>_
nnoremap <leader>mw <c-w><bar>
nnoremap <leader>ma <c-w>=

" [r]otate all windows counterclockwise.
" E[x]change current window with its nearest.
nnoremap <leader>wr <c-w><c-r>
nnoremap <leader>wx <c-w><c-x>

" Move window to that direction.
nnoremap <leader>wh <c-w>H
nnoremap <leader>wj <c-w>J
nnoremap <leader>wk <c-w>K
nnoremap <leader>wl <c-w>L

" Move current window to a new [t]ab.
nnoremap <leader>wt <c-w>T

" Resize window's height.
nnoremap <leader>- :resize -10<cr>
nnoremap <leader>+ :resize +10<cr>

" Resize window's width.
nnoremap - :vertical resize -5<cr>
nnoremap + :vertical resize +5<cr>

" }}}

" Moving and jumping {{{

" Move to the beginning/end of line.
nnoremap H ^
nnoremap L $

" Keep search matches in the middle of the window.
nnoremap n nzzzv
nnoremap N Nzzzv

" Same when jumping around.
nnoremap <c-o> <c-o>zz
nnoremap <c-n> <c-i>zz
nnoremap <c-]> <c-]>zz
nnoremap <c-\> <c-w>v<c-]>zz
nnoremap g; g;zz
nnoremap g, g,zz

" }}}

" Toggling {{{

" Space to toggle folds.
nnoremap <space> za

" [i]nvisible characters.
nnoremap <leader>i :set list!<cr>

" Line [n]umbers.
nnoremap <leader>n :set number!<cr>

" }}}

" Formatting {{{

" Easier linewise reselection of what you just pasted.
nnoremap <leader>V V`]

" Indent/dedent/autoindent what you just pasted.
nnoremap =- V`]=

" Reformat line. I never use l as a macro register anyway.
nnoremap ql gqq

" }}}

" Quick editing {{{

nnoremap <leader>wq :wq<cr>
nnoremap <leader>ww :w<cr>
nnoremap <leader>qq :q<cr>
nnoremap <leader>fq :q!<cr>

nnoremap <leader>ws :w<cr>:so %<cr>
nnoremap <leader>ss :so %<cr>

nnoremap <silent> <leader>sv :so $MYVIMRC<cr>:noh<cr>

nnoremap <leader>ev :vsp $MYVIMRC<cr>
nnoremap <leader>ec :vsp<cr>:CocConfig<cr>

" }}}

" It's good practice to stop using arrow keys.
nnoremap <left>  <nop>
nnoremap <right> <nop>
nnoremap <up>    <nop>
nnoremap <down>  <nop>

" Buffer mappings
nnoremap <leader>bn :bn<cr>
nnoremap <leader>bp :bp<cr>
nnoremap <leader>bd :bp\|bd #<cr>
nnoremap <leader>bb :ls<cr>:buffer<space>

" Quickfix window
nnoremap <leader>qo :copen 18<cr>
nnoremap <leader>qn :cnext<cr>
nnoremap <leader>qp :cprevious<cr>

" Capitalize a word.
nnoremap <c-u> mzgUiw`z

" Enclose a word.
nnoremap <leader>" mzviw<esc>a"<esc>bi"<esc>`z
nnoremap <leader>' mzviw<esc>a'<esc>bi'<esc>`z
nnoremap <leader>( mzviw<esc>a)<esc>bi(<esc>`z
nnoremap <leader>` mzviw<esc>a`<esc>bi`<esc>`z
nnoremap <leader>[ mzviw<esc>a]<esc>bi[<esc>`z

" Show unsaved diff.
" nnoremap <leader>sd :w !diff -u % -<cr>
nnoremap <leader>sd :ShowDiff<cr>

" Select entire buffer.
nnoremap <leader>sa ggVG

" No search highlighting.
nnoremap <silent> <leader><space> :noh<cr>:call clearmatches()<cr>

" Clean trailing whitespaces.
nnoremap <silent> <leader>W mz:let _s=@/<cr>:%s/\s\+$//e<cr>:noh<cr>:let @/=_s<cr>`z

" }}}

" Insert mode -------------- {{{

" Better keys {{{

" Delete a pair of brackets
inoremap <silent> <bs> <c-r>=<SID>BetterBS()<cr>

" Auto indent after pressing return
inoremap <silent> <cr> <c-r>=<SID>BetterCR()<cr>

" }}}

" Exit insert mode.
inoremap jk <esc>

" Pairing stuff up.
inoremap " ""<left>
inoremap ' ''<left>
inoremap ( ()<left>
inoremap [ []<left>
inoremap { {}<left>

" Filename completion.
inoremap <c-f> <c-x><c-f>

" Move current line to the middle of the window.
inoremap <c-n> 1<esc>zza<bs>

" Paste from clipboard.
inoremap <c-p> <esc>"+pa

" Capitalize a word.
inoremap <c-u> <esc>mzgUiw`za

" }}}

" Visual mode -------------- {{{

" Selection {{{

" Enclosing a selection
vnoremap <leader>" <esc>`>a"<esc>`<i"<esc>`>
vnoremap <leader>' <esc>`>a'<esc>`<i'<esc>`>
vnoremap <leader>( <esc>`>a)<esc>`<i(<esc>`>
vnoremap <leader>` <esc>`>a`<esc>`<i`<esc>`>
vnoremap <leader>[ <esc>`>a]<esc>`<i[<esc>`>

" Searching a selection
vnoremap // y/\m<c-r>=escape(@",'/\')<cr><cr>

" Formatting a selection
vnoremap Q gq

" }}}

" Clipboard manipulation.
vnoremap <leader>y "+y
vnoremap <leader>d "+d

" To the last non-blank character of the line.
vnoremap L g_

" Space to toggle folds.
vnoremap <space> za

" Deal with a delay when exiting visual mode.
vnoremap <esc> <c-c>

" }}}

" Command-line mode -------- {{{

" Pairing stuff up.
cnoremap " ""<left>
cnoremap ' ''<left>
cnoremap ( ()<left>
cnoremap [ []<left>
cnoremap { {}<left>

" }}}

"}}}

" Commands -------------------------------------- {{{

"}}}
